<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="org.uch.mapper.test.EventCodeMapper">

	<select id="selectEventCode" resultType="EventCode">
		SELECT id, name, maxCnt, createdAt
		FROM event_code
		WHERE id = #{ id }
	</select>

	<insert id="insertEventCode">
		INSERT INTO event_code (name, maxCnt, createdAt)
		VALUES (
			#{name}, #{maxCnt}, now()
		)
		<selectKey resultType="Integer" keyProperty="id" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>

	<update id="updateEventCodeMaxCnt">
		update event_code set maxCnt = #{maxCnt}
		where id = #{ id }
	</update>
</mapper>